.bg-container {
    height: 100vh; /* Full viewport height */
    width: 100%;
    background-size: 150% 100%; /* Make the background twice as wide */
    background-repeat: no-repeat;
    background-position: center center; /* Start in the center */
    animation: gradientAnimation 150s infinite alternate; 
  }
  
  .normal {
    background-image: url('/assets/background/background-holo-1.jpg');
  }
  
  .flipped {
    background-image: url('/assets/background/background-holo-2.jpg');
  }
  
  @keyframes gradientAnimation {
    25% {
      background-position: 100% center; /* Move more to the right, but stay inside the container */
      background-size: 150% 110%; /* Zoom in slightly */
    }
    50% {
      background-position: center center; /* Return to center */
      background-size: 100% 100%; /* Normal size */
    }
    75% {
      background-position: 0% center; /* Move more to the left, but stay inside the container */
      background-size: 150% 110%; /* Zoom in slightly */
    }
    100% {
      background-position: center center; /* Return to center */
      background-size: 100% 100%; /* Normal size */
    }
  }
  
  /* Loading screen styling */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 9999; /* Ensure it's on top */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 150% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  animation: gradientAnimation 20s infinite alternate;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  opacity: 1;
  visibility: visible;
}

#loading-screen.hide {
  opacity: 0;
  visibility: hidden;
}

/* Add this to your CSS */
.no-scroll {
  overflow: hidden;
}


.loading-indicator {
  font-family: var(--font-lora);
  font-size: var(--font-size-xl);
  margin: auto;
  color: hotpink;
}
