/* ============================= */
/* Imports

/* Import variables */
@import url("variables.css");

/* Import reset styles */
@import url("reset.css");

/* Import utilities */
@import url("utilities.css");

/* Import prelaod */
@import url("preload.css");

/* ============================= */

/* ============================= */
/*        Typography Styles      */
/* ============================= */

/* ============================= */
/*        Branding Styles        */
/* ============================= */

/* ============================= */
/*        Color Schemes          */
/* ============================= */

/* ============================= */
/*         Layout Styles         */
/* ============================= */

/* ============================= */
/*        Navigation Styles      */
/* ============================= */

/* ============================= */
/*          Header Styles        */
/* ============================= */

::selection {
  background: #ead3fd;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  overflow-x: hidden; /* Prevent horizontal overflow */
}



.about-me__section,
.projects__section,
.experience__section,
.contact__section,
.fun__section {
  margin-top: 3em;
  margin-bottom: 2em;
}

/* .experience__section,
.contact__section {
  padding: 2em 0;
} */

.projects__section-content,
.experience__section-content
{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 90%;
  margin: auto;
  max-width: 2000px;
  align-items: center;
}

.about-me__section-content {
  gap: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  max-width: 2000px;
  align-items: center;
}

.projects__section-content {
  gap: 1em;
  padding: 3%; 

}

#hero__section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100dvh;
}

#hero__section h1 {
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.4);
}

.hero__section-h2 {
  font-size: var(--font-size-l);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 2em;
  column-gap: 4em;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  color: rgb(100, 100, 100);
}

.header__nav {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0px !important;
}

.header__nav:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(30px) saturate(250%) !important;
  -webkit-backdrop-filter: blur(30px) saturate(180%) !important;
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.15);
}

.header__nav-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 90%;
  margin: auto;
  max-width: 1800px;
}

.header__name {
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.header__name.visible {
  opacity: 1;
  font-size: var(--font-size-xl);
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  align-self: center;
}

.header__nav-menu {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  padding: 20px 0 0 0;
}

.cloud {
  position: absolute;
  top: -50px;
  left: 0;
  width: 500px;
  height: 150px;
  background-image: url('/assets/icons/icons8-cloud-48.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2s ease;
  z-index: -1;
  opacity: 0;
  filter: hue-rotate(320deg) saturate(2) brightness(1.3);
}

.cloud.active {
  opacity: 1;
  filter: hue-rotate(300deg) saturate(3) brightness(1.2);
}

.header__nav-menu li a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  padding: 0 1em;
  font-family: var(--font-lora);
  font-size: var(--font-size-base);
  min-width: 100px;
  opacity: 0.6;
}

.header__nav-menu li.active a {
  opacity: 1;
}

.header__nav:hover .header__nav-menu li a {
  opacity: 1; 
}

 
/*.header__nav-menu li.active a {
  opacity: 1; /* Always fully visible 
  color: rgb(255, 0, 128);
  transition: opacity 0.3s ease, color 0.3s ease; } */

/* ============================= */
/*         Page Navigation       */
/* ============================= */

/* ============================= */
/*      About Section         */
/* ============================= */

.about-me__section {
  margin: auto;
  min-height: 100vh;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.slider-container {
  width: 100%;
  height: fit-content;
  overflow: hidden; 
  position: relative;
  margin: 0.1em 0 0 0;
  padding: 1em 0 1.5em 0;
}


.slider-list {
  display: flex;
  align-items: center;
}


.slider-list-item {
  flex-shrink: 0;
  height: 200px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.slider-list-item:hover {
  z-index: 2; 
  overflow: visible;
}

.slider-list-item img {
  height: 200px;
  object-fit: cover;
  width: auto; 
  transition: filter 0.3s ease;
}


.slider-list-item img:hover {
  transform: scale(1.1); 
  transition: 0.3s ease-in-out;
  z-index: 2; 
  overflow: visible;
  height: 110%; 
  width: 110%; 
}


.slider-list-item.grayscale img {
  filter: grayscale(100%);
}


.scrolling-text-container {
  padding-top: 2em;
  overflow: hidden;
}


.scrolling-text-inner {
  display: flex;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lora);
  font-style: italic;
  padding: 8px 0;
}


.scrolling-text {
  display: flex;
}

.scrolling-text-item {
  padding: 0 30px;
}


.scrolling-text-inner > div {
  animation: var(--direction) var(--marquee-speed) linear infinite;
}


.scrolling-text-container:hover .scrolling-text-inner > div {
  animation-play-state: paused;
  cursor: default;
}


@keyframes scroll-right {
  0% {
    transform: translateX(-50%); 
  }
  100% {
    transform: translateX(0); 
  }
}

/* ============================= */
/*      Projects Section         */
/* ============================= */

.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 5em;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1 1 clamp(300px, 30vw + 5rem, 400px); 
  max-width: 600px;
}

.project-thumbnail {
  height: auto;
}
.project-title {
  font-family: var(--font-lora);
  font-size: var(--font-size-xl);
}
.project-description {
  font-family: var(--font-raleway);
  font-size: var(--font-size-base);
  flex: 1;
}
.project-links {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  font-family: var(--font-raleway);
  line-height: 2;
  padding-top: 1em;
}
.project-links a {
  padding: 0.2em 0.5em;
  border-radius: 5px;
  align-self: flex-end;
}

#github-mark-round-black {
  width: 2em;
  height: auto;
  padding: 0;
}

.projects__section-content-description {
  display: flex;
  column-gap: 5%;
}

.projects__section-content-description p {
  flex: 1;
}

/* ============================= */
/*      Experience Section         */
/* ============================= */


.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-radius: 10px;
}

.tab-link {
  background-color: var(--color-primary-lighter);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--font-size-l); 
  font-weight: 500; 
  transition: background-color 0.3s;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  font-family: var(--font-lora);
}

.tab-link.active {
  background-color: lightyellow;
}

.tab-link:hover {
  background-color: lavenderblush;
}

.close-tab-button {
  font-family: var(--font-raleway);
  font-size: var(--font-size-s); 
  line-height: 1.6;
  padding: 10px 20px;
  background-color: lavenderblush;
  margin-top: 1em;
}

.close-tab-button:hover {
  cursor: pointer;
}

.tab-content {
  padding: 2em;
  width: 100%;
  border-radius: 0 0 10px 10px;
  display: none;
}


.tab-content-inner {
  width: 100%;
  margin: auto;
}

.tab-content-flex {
    display: flex;
  justify-content: space-between;
  gap: 3em;
  width: 100%;
  margin: auto;
}

.flex-wrapper {
  width: 100%;
}

.tab-content__paragraph {
  position: sticky;
  top: 8em;
  z-index: 10; 
  height: fit-content;
  padding-top: 3em;
  padding-bottom: 1em;
  display: flex;
  align-items: center; /* Center the items vertically */
  flex-direction: column;
}

.tab-content__paragraph p{
font-family: var(--font-raleway);
font-size: var(--font-size-base);
margin: auto;
}

.tab-content__paragraph button {
  margin: 2em 2em;
  align-self: flex-end;
  }
  



.tab-content.active {
  display: block;
}

.skills-section {
  margin: 2em auto;
}

.skills-section h3{
  margin: 1em auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px; 
}

.skill-card {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(5px);
  padding: 10px 15px; 
  text-align: left; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%; 
  min-height: 50px; 
}

.skill-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

.skill-card h4 {
  font-size: var(--font-size-s); 
  font-weight: 500; 
  margin: 0;
}

.skill-card img {
  height: 25px; 
  width: auto;
  margin-left: 10px; 
}

.category {
  flex: 1;
  min-width: 200px;
}

.category h3 {
  font-size: var(--font-size-l); 
  font-weight: 700; 
  margin: 2em 0 1em 0;
  color: var(--color-text); 
  text-align: left;
}


.certifications-list h4 {
  font-size: var(--font-size-l); 
  font-weight: 500; 
  margin-bottom: 10px;
}


.certifications-list p,
.place,
.work,
.education {
  font-size: var(--font-size-base); 
  line-height: 1.6; 
  color: var(--color-secondary-darkest); 
}

.certifications-list a {
  font-size: var(--font-size-l); 
  font-weight: 500; 
  line-height: 1.6; 

}
.certifications-list li {
  list-style: none;
  list-style-type: none;
  padding-bottom: 1.5em;
}

.certifications-list {
line-height: 2;
}

.certifications-list a:hover {
  text-decoration: underline;
  color: hotpink;

}




.timeline {
  display: grid;
  grid-template-columns: 1fr 50px 1fr; 
  gap: 1em;
  position: relative;
  padding: 2em 0;
  margin: 2em auto;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: rgba(255, 105, 180, 0.479); 
}

.timeline-item {
  display: contents; 
}

.education, .work {
  padding: 1em;
  font-family: var(--font-lora);
  font-size: var(--font-size-l);
  color: var(--color-text);
}

.place {
  font-family: var(--font-raleway);
  font-size: var(--font-size-base);
}

.education {
  grid-column: 1; 
  text-align: right;
}

.work {
  grid-column: 3; 
  text-align: left;
}

.year {
  grid-column: 2; 
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: hotpink;
}






/* ============================= */
/*      Contact Section         */
/* ============================= */

#contact__section {
  display: flex;
  flex-direction: column;
}


/* ============================= */
/*      Fun Section         */
/* ============================= */


.interview-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}


.accordion-category__wrapper {
  display: flex;
  flex-wrap: wrap; 
  gap: 1em; 
  width: 100%;
}


.accordion-category {
  flex: 1 1 15em; 
  min-width: 15em; 
  box-sizing: border-box;
  flex-grow: 1; 
}


.category-header {
  background-color: #333;
  color: white;
  padding: 15px;
  cursor: pointer;
  text-align: left;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  border: none;
  box-sizing: border-box;
  width: 100%; 
}

.category-header:hover {
  background-color: #444;
}


.category-content {
  display: none;
  padding: 10px 0;
}


.accordion-item {
  margin-bottom: 10px;
}

#submitButton {
  padding: 1em 3em;
  border-radius: 1em;
  border: none;
}

/* ============================= */
/*          Project page        */
/* ============================= */

.project-page__section {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  align-items: top;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
  margin: 2em auto;
}

main {
  padding-top: 6em;
}

.project-page__section h2{
font-family: var(--font-lora);
}


.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.project-page__section-heading {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
justify-items: center;
justify-self: center;
align-items: center;
text-align: center;
margin: 2em auto;
}
  
  .project-page__section-heading-left {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 500px; 
    justify-content: center;
align-items: center;
text-align: center;
margin: auto;
  }


  .project-page__section img {
    flex: 1; /* Allow the image to take available space */
    max-width: 40%; /* Control max width of the image */
    height: auto; /* Maintain the aspect ratio */
    align-self: center;
    min-width: 400px;
  }


.project-page__section ul {
  list-style-type: disc; /* Use a disc marker for a clean, modern look */
  margin-left: 1em; /* Indent the list */
  line-height: 1.5; /* Make the text more readable */
  padding-top: 1em;
}

.project-page__section ul li {
  margin-bottom: 1em; /* Add spacing between list items */
}

.project-page__section ul li::marker {
  color: var(--color-primary); /* Customize the color of the list markers */
}

.key-tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
  margin: 1em auto;  
  justify-content: center;
  max-width: 700px;
}

.key-tech-list li{
list-style-type: none;
padding: 0.7em;
}

.key-tech-list ul{
margin-left: 0;
  }
  

.tech-item {
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-size: var(--font-size-xs);
}

.tech-item:hover {
  transform: translateY(-3px); /* Slight hover effect */
}



.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 0;
  margin: 1.5em auto;
  align-items: stretch;
  justify-content: center;
}

.feature-item {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Slightly visible background */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow to add depth */
  transition: transform 0.3s ease;
  max-width: 30%; 
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  align-self: stretch;
  justify-self: stretch;
}

.feature-item:hover {
  transform: translateY(-3px); /* Slight hover effect */
}

.project-page-github img{
max-width: 60px;
max-height: 60px;
min-width: auto;
}

@media (max-width: 768px) {
  .cta-section {
    flex-direction: column; /* Stack image and content vertically on smaller screens */
    align-items: center;
  }

  .cta-image {
    max-width: 100%;
  }

  .cta-content {
    width: 100%;
  }
}



/* Responsive adjustments */
@media (max-width: 1000px) {
  .project-page__section {
    align-items: center; /* Center the content */
  }

  .project-page__section-heading-left {
    max-width: 100%; /* Text container takes full width */
    display: flex;
    flex: 1; 
    min-width: auto; 
  }


  .project-page__section img {
    flex: 1;
    min-width: 100%;
  }

  .project-page__section img {
    max-width: 80%; /* Image takes up more space on smaller screens */
  }
    .feature-item {
    max-width: 100%; /* Stacks the items on smaller screens */
  }

}


.end-notes__section {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
}

.end-notes__section-text {
  flex-direction: column;
}

.end-notes__section p{
padding: 0.5em 0;
}

.end-notes__section-image img {
max-width: 20em; 
border-radius: 5px;
 }

/* ============================= */
/*         Button Styles         */
/* ============================= */

/* ============================= */
/*         Custom Animations     */
/* ============================= */

/* ============================= */
/*          Media Queries        */
/* ============================= */

.contact-page-wrapper {
  display: flex;
  width: clamp(40%, 90%, 800px);
  margin: auto;
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: stretch;
}

.contact-page-section {
  padding: 5%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  flex-direction: column;
  gap: 1em;
  justify-content: end;
  flex: 1;
}

.contact-page-section-primary {
  font-family: var(--font-raleway);
  font-size: var(--font-size-base);
  font-weight: 400;
}

.contact-page-section-secondary {
  justify-content: end;
  font-size: var(--font-size-xl);
  font-family: var(--font-lora);
  font-style: italic;
  font-weight: 400;
}

.contact-info__icons {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.glassmorphism {
  background-color: rgba(
    255,
    255,
    255,
    0.0
  ); 
  backdrop-filter: blur(15px) saturate(150%); 
  -webkit-backdrop-filter: blur(15px) saturate(150%);
  border-radius: 15px; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
}

.glassmorphism:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.15
  ); 
  backdrop-filter: blur(25px) saturate(200%); 
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.15); 

}

.glassmorphism-text {
  background-color: rgba(
    255,
    255,
    255,
    0.6 
  ); 
  backdrop-filter: blur(30px) saturate(250%); 
  -webkit-backdrop-filter: blur(30px) saturate(250%);
  border-radius: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
  padding: 3%; 
  transition: all 0.3s ease;
  color: var(--color-text); 
}

.glassmorphism-text:hover {
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.2);
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); 
  backdrop-filter: blur(35px) saturate(180%); 
  -webkit-backdrop-filter: blur(15px) saturate(180%);
}

.border-radius-left {
  border-radius: 10px 0px 0px 10px;
}

.border-radius-right {
  border-radius: 0px 10px 10px 0px;
}

.border-radius-bottom {
  border-radius: 0px 0px 10px 10px;
}


@media (max-width: 1100px) {
  .tab-content-flex {
    flex-wrap: wrap;
    gap: 1em;
    margin: auto;
  }

  .tab-content__paragraph {
    padding-top: 0;
    margin: auto;
  }

  
  .timeline {
    padding-bottom: 0;
  }
}

@media (max-width: 670px) {
  .border-radius-left {
    border-radius: 10px 10px 0px 0px;
  }

  .border-radius-right {
    border-radius: 0px 0px 10px 10px;
  }
}


@media (min-width: 769px) {
  .active-section {
    display: none; 
  }

  .hamburger {
    display: none; 
  }
}

@media (max-width: 768px) {

  .projects__section-content-description {
    flex-wrap: wrap;
}

.projects__section-content-description p {
  min-width: 300px;
  padding-bottom: 1em;
}

  .timeline {
    display: block; 
  }

  .timeline:before {
    display: none; 
  }

  .timeline-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
  }

  .education, .work, .year {
    text-align: center;
    width: 100%; 
  }

  .year {
    font-size: var(--font-size-l); 
    display: block; 
  }

  .active-section {
    display: block; 
  }

  .hamburger {
    display: block; 
  }

  .header__nav {
    flex-direction: column;
  }

  .header__nav-content {
    width: 100%;
    justify-content: space-evenly;
  }

  
  .active-section {
    display: block;
    font-size: var(--font-size-base);
    text-align: center;
    line-height: 3em;
  }

  .header__name.visible {
    font-size: 16px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
  }

  .header__nav-menu {
    display: none; 
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  
  .header__nav-menu.active {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    align-content: center;
  }

}

