:root {
  /* CSS Variables */
  /* Definitions for CSS variables used throughout the site, including colors, font sizes, spacing units, etc. */

  /* Color styles */

  /* Color Text */
  --color-text: #050316;

   /* Color Background */
 /* --color-background-darkest: #e3e3e3;
  --color-background-darker: #f0f0f0;
  --color-background: #f9f9f9;
  --color-background-lighter: #fcfcfc; */

  /* Color Primary */
  --color-primary-darkest: #30004d;
  --color-primary-darker: #d080ff;
  --color-primary: #e1adff;
  --color-primary-lighter: #ecccff;
  --color-primary-lightest: #f6e5ff;

  /* Color Secondary */
  --color-secondary-darkest: #666666;
  --color-secondary-darker: #bfbfbf;
  --color-secondary: #dcdcdc;
  --color-secondary-lighter: #e6e6e6;
  --color-secondary-lightest: #f2f2f2;

  /* Color Accent */
/*   --color-accent-darkest: #c1e481;
  --color-accent-darker: #cce996;
  --color-accent: #e0f2c0;
  --color-accent-lighter: #eaf6d5;
  --color-accent-lightest: #f5fbea; */

  /* Text styles */

  /* Font Families */
  --font-lora: 'Lora', serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-feature-settings: "liga" 1, "calt" 1;
  --font-variant-ligatures: common-ligatures;
  
  /* Font Weights */
  /* Font Sizes Regular Screen Size. Will be 2 numbers smaller for mobile*/
  --font-size-xs: 1.4rem; /* 14px */
  --font-size-s: 1.6rem; /* 16px */
  --font-size-base: 1.8rem; /* 18px */
  --font-size-l: 2rem; /* 20px */
  --font-size-xl: 2.4rem; /* 24px */
  --font-size-xxl: 3.2rem; /* 32px */
  --font-size-xxxl: 5.6rem; /*56px */
}
